= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title, t('posts.title')
    = f.text_field :title
  .field
    = f.label :date, t('posts.date')
    = f.date_field :date
  .field
    = f.label :summary, t('posts.summary')
    = f.text_area :summary
  .field
    = f.label :body, t('posts.body')
    = f.rich_text_area :body
  =#.field
  =#  = f.label :photo,  t('posts.attachment')
  =#  = f.file_field :photo, accept: 'image/png,image/jpeg'
  .actions
    = f.submit t('content.save')
