 
= post.user.name
&nbsp;
&nbsp;
=post.updated_at.strftime("%d.%m.%Y %H:%M")

- if current_user == post.user
  &nbsp;
  &nbsp;
  = link_to t('content.edit'), edit_post_path(post)
  &nbsp;
  &nbsp;
  = link_to t('content.destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }

%br
%br
=post.body



- if !post.body.embeds.empty?
  = #post.body.embeds[1].variant(resize_to_limit: [200, 200]) 
  = #post.body.embeds.count.to_s + " embedded attachments"

  -# post.body.embeds.each do |embedded_image|
    -# if embedded_image.image?
      =# CGI.escape(embedded_image.variant(resize_to_limit: [60, 40]).processed.service_url)
      =# debug(embedded_image.video?)
      %br
      %br