%br
%br

%h2= link_to post.title , post
 
= post.user.name
| 
=post.updated_at.strftime("%d.%m.%Y %H:%M")


- if current_user == post.user
  | 
  = link_to t('content.edit'), edit_post_path(post)
  | 
  = link_to t('content.destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }


- if !post.body.embeds.empty?


  %br
  %br 
  
  =# image_tag post.body.embeds[1].variant(resize_to_limit: [200, 200]) 
  =#post.body.embeds.count.to_s + " embedded attachments"

  - post.body.embeds.each do |embedded_image|
    = image_tag embedded_image.variant(resize_to_limit: [200, 100])
    =# debug(embedded_image)




