%h1= @post.title

- if current_user == @post.user
  = link_to t('content.edit'), edit_post_path(@post)
  ="-"
  = link_to t('content.destroy'), @post, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  %br

- if @post.photo.attached? 
  = image_tag(@post.photo.variant(resize_to_limit: [1200, 600]), :style => "width:100%;") 
  %br
  %br

=render(@post)



-# if !@post.body.embeds.empty?
  
  - if @post.body.embeds[0].metadata["longitude"]

    %br
    %h3= t('posts.map')

    %img{:src => @post.map_with_pins, :style => "width:100%;"}
  




=# NOT USED CURRENTLY

=# - if @post.photo.attached? 
=#   = image_tag(@post.photo.variant(resize: 200), width: 200) 
=#   %br
=#   %br


