%h1= @post.title


%em
  von 
  =@post.user.name

=@post.body

- if !@post.body.embeds.empty?

  %br
  %hr
  %br 
  
  #map



=# NOT USED CURRENTLY

- if @post.photo.attached? 
  
  %br
  = image_tag(@post.photo.variant(resize: 200), width: 200) 
  %br
  %br

%br
%br
%hr
%br
= link_to t('content.edit'), edit_post_path(@post)
\|
= link_to t('navigation.back'), posts_path



:css
  #map { width: 100%; height: 300px; }


- if !@post.body.embeds.empty?
  = render :partial => 'map', :locals => { :embeds => @post.body.embeds }

  