!!! 5
%html{:lang => "de"}
  %head
    %title
      Memo
    = csrf_meta_tags
    = csp_meta_tag
    <meta name="robots" content="noindex, nofollow">

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    

    = favicon_link_tag asset_path('favicon.ico')
    = favicon_link_tag "apple-touch-icon-180.png",
                         rel: "apple-touch-icon",
                         sizes: "180x180",
                         type: "image/png"


    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1.0, user-scalable=1"}


  %body

    .wrapper
      .content
        = render 'shared/navigation'
        = render 'shared/notification'
        %h1= yield(:title)
        = yield


      .footer
        - if Rails.env.development?
          %a{ :href => "http://localhost:3000/rails/info/routes"}
            Routes
          %br
          %br
          = debug(params)
        
          %br

        -# if current_user
          
          - if I18n.locale == :de 
            %a{ :href => root_url + "/users/" + current_user.id.to_s + "/locale/en"}
              English
          - else
            %a{ :href => root_url + "/users/" + current_user.id.to_s + "/locale/de"}
              Deutsch

        -# else

          - if I18n.locale == :de 
            = link_to 'English', url_for( :locale => 'en' )
          - else
            = link_to 'Deutsch', url_for( :locale => 'de' )
